html,body,h1,h2,h3,h4,h5,h6,ul,li,div,p{
	padding:0px;
	margin:0px;

}
html{
	font-family: 'Roboto', sans-serif;
}
div.main{
	width:70.3125%;/*900px;*/
	margin:auto;
	background-color: sandybrown;
	/*color:rgba(255,255,255,1);*/
	color:hsla(240deg,50%,50%);
}
div.box{
	width:33.3333333333%;/*300px;*/
	float:left;
	background-color: lightblue;
}
div.box4{
	width:100%;/*900px;*/
}
ul li{
	list-style-type: none;
	float:left;
	margin-left:50px;
}
ul {
	float:right;
}
.menu{
	background-color: lightgreen;
	font-weight:bold;
}
.menu::after, .menu::before,.main::after,.main::before{
	content:'';
	display:block;
	clear:both;
}
/*@media screen and (max-width:1110px){*/
@media screen and (orientation:landscape){	
	div.box1,div.box2{
		width:50%;
	}
	div.box3{
		width:100%;
	}
}
@media screen and (orientation:portrait ){
	div.box{
		width:100%;
	}
	div.box4{
		display:none;
	}
}






